# Proyecto para el módulo Analista de datos de la carrera técnica superior en Ciencia de Datos e Inteligencia Artificial. Instituto Superior Politécnico de Córdoba.
## Grupo: DataDinasty
### integrantes: 
27077572 | Juan Marcelo Molina | Github: marcelo79

37093958 | Emilce Lucia Nicole Robles | Github: emirobles

37739346 | Dante Javier Pagano | Github: DanteJavier

32930970 | JulieTa Battauz | Github: Bluelieta

38455889 | Barozzi Eugenia | Github: BarozziEugenia

34311109 | Federico Gurrea | Github: FedeGu

94404602 | Giovanny Aguilar Rojas | Github: Haguilerts

In [1]:
#Primera importación de librerias seleccionadas
import pandas as pd
import numpy as np

In [2]:
#Designación como variables los archivos .CSV con los que trabajaremos
df_lista = pd.read_csv("Lista de pacientes.csv", sep=';')
df_test = pd.read_csv("Tests.csv", sep= ";")
df_testrawdat = pd.read_csv("TestsRawData.csv", sep=";")
df_adttest = pd.read_csv("tblAbpTestRawData.csv", sep=";")

Repasamos las caracteísticas iniciales de cada dataframe seleccionado

In [4]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1667 entries, 0 to 1666
Data columns (total 72 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   TestId                     1667 non-null   object
 1   PatientId                  1667 non-null   object
 2   fConfirmed                 1667 non-null   int64
 3   fConfirmed2                1667 non-null   int64
 4   ConfirmDate1               1667 non-null   object
 5   ConfirmDate2               1667 non-null   object
 6   ConfirmUser1Id             1 non-null      object
 7   ConfirmUser2Id             0 non-null      float64
 8   ConfirmLabel1              1667 non-null   object
 9   ConfirmLabel2              0 non-null      float64
 10  User1Id                    1667 non-null   object
 11  User2Id                    0 non-null      float64
 12  User3Id                    0 non-null      float64
 13  User4Id                    0 non-null      float64
 14  AgeFormat                  1667 non-null   int64
 15  WtFormat                   1667 non-null   int64
 16  WtAtHookup                 1667 non-null   int64
 17  HtFormat                   1667 non-null   int64
 18  HtAtHookup                 1667 non-null   int64
 19  Interpretation             1622 non-null   object
 20  Indications                0 non-null      float64
 21  HookupStartTime            1667 non-null   object
 22  HookupEndTime              1667 non-null   object
 23  UploadSource               1667 non-null   int64
 24  UploadTime                 1667 non-null   object
 25  MonitorFirmwareVersion     0 non-null      float64
 26  VerUpload                  1667 non-null   object
 27  HL7SequenceCount           0 non-null      float64
 28  MonitorSN                  0 non-null      float64
 29  UserLabel1                 1667 non-null   object
 30  UserLabel2                 1667 non-null   object
 31  UserLabel3                 0 non-null      float64
 32  UserLabel4                 0 non-null      float64
 33  CustomLabel1               0 non-null      float64
 34  CustomLabel2               0 non-null      float64
 35  CustomLabel3               0 non-null      float64
 36  CustomLabel4               0 non-null      float64
 37  CustomValue1               0 non-null      float64
 38  CustomValue2               0 non-null      float64
 39  CustomValue3               0 non-null      float64
 40  CustomValue4               0 non-null      float64
 41  ApplyAutoEditLimits        1667 non-null   int64
 42  SystolicMax                1667 non-null   int64
 43  SystolicMin                1667 non-null   int64
 44  DiastolicMax               1667 non-null   int64
 45  DiastolicMin               1667 non-null   int64
 46  MAPMax                     1667 non-null   int64
 47  MAPMin                     1667 non-null   int64
 48  PPMax                      1667 non-null   int64
 49  PPMin                      1667 non-null   int64
 50  HRMax                      1667 non-null   int64
 51  HRMin                      1667 non-null   int64
 52  Duration                   1667 non-null   object
 53  SuccessfullReading         1667 non-null   int64
 54  PercentSuccessfullReading  1667 non-null   object
 55  SysDipping                 1667 non-null   float64
 56  DiaDipping                 1667 non-null   float64
 57  MapDipping                 1667 non-null   float64
 58  Age                        1667 non-null   int64
 59  PassFail                   1667 non-null   int64
 60  PassFailDescription        0 non-null      float64
 61  MRN                        1667 non-null   int64
 62  FirstName                  1667 non-null   object
 63  LastName                   1667 non-null   object
 64  SecondLastName             0 non-null      float64
 65  RaceId                     1667 non-null   int64
 66  GenderId                   1667 non-null   int64
 67  BirthDate                  1667 non-null   object
 68  ReportType                 1667 non-null   int64
 69  mfd                        1667 non-null   int64
 70  ModifiedUserId             1667 non-null   object
 71  ts                         1667 non-null   object
dtypes: float64(24), int64(27), object(21)
memory usage: 937.8+ KB

In [27]:
df_lista.info()

,PatientId,MRN,FirstName,LastName,BirthDate,PrimaryPhysicianId,GroupId,RaceId,GenderId,fConfirmed,DateConfirmed,PatientType,ModifiedUserId,ts
0,34334F8C-6F4C-41B5-909E-E9D49860B409,001,NORA,AGUILAR,1979-09-14 00:00:00.000,5ED287A2-9EE1-4624-8AE6-8C9A8E09BF70,61C83F13-9F0B-4580-ABF7-EF4AA5CDAC46,57,2,0,1900-01-01 00:00:00.000,0,5ED287A2-9EE1-4624-8AE6-8C9A8E09BF70,0x00000000000049D5
1,F1972577-00FD-4500-8C69-3A5775CA3894,01,GUILLERMO,ALONSO,1960-10-03 00:00:00.000,5ED287A2-9EE1-4624-8AE6-8C9A8E09BF70,61C83F13-9F0B-4580-ABF7-EF4AA5CDAC46,57,1,0,1900-01-01 00:00:00.000,0,5ED287A2-9EE1-4624-8AE6-8C9A8E09BF70,0x00000000000051A5
2,D0293E34-8669-4D99-A11E-CF725129506B,002,STELLA M,QUINTERO,1974-03-30 00:00:00.000,5ED287A2-9EE1-4624-8AE6-8C9A8E09BF70,61C83F13-9F0B-4580-ABF7-EF4AA5CDAC46,57,2,0,1900-01-01 00:00:00.000,0,5ED287A2-9EE1-4624-8AE6-8C9A8E09BF70,0x0000000000006145
3,74C275DF-E998-44C4-BB95-AD64BCF8E2DA,02,TERESA,MIRANDA,1934-10-15 00:00:00.000,5ED287A2-9EE1-4624-8AE6-8C9A8E09BF70,61C83F13-9F0B-4580-ABF7-EF4AA5CDAC46,57,2,0,1900-01-01 00:00:00.000,0,5ED287A2-9EE1-4624-8AE6-8C9A8E09BF70,0x0000000000008085
4,AE78B024-777F-43F1-9069-0BE4F67B362D,02,MONICA,PELAEZ,1967-11-06 00:00:00.000,5ED287A2-9EE1-4624-8AE6-8C9A8E09BF70,61C83F13-9F0B-4580-ABF7-EF4AA5CDAC46,57,2,0,1900-01-01 00:00:00.000,0,5ED287A2-9EE1-4624-8AE6-8C9A8E09BF70,0x00000000000097F5

In [3]:
df_testrawdat.info()

,TestId,RawDataId,ReadingRemoved,PermanentlyRemoved,ReadingTime,ReadingCode,Systolic,Diastolic,MAP,HR,PP,CV,EventCode,EditStatus,DiaryEntry,DiaryEntryId,Annotate,ModifiedUserId,mfd,ts
0,35C77615-22AE-4A58-A5F0-07C761F9A787,EFCC5840-98F3-4FB4-8EA5-0E602021BB46,0,0,2024-05-07 12:45:00.000,0,139,89,106,67,50,0,0,0,NaN,0,0,5ED287A2-9EE1-4624-8AE6-8C9A8E09BF70,0,0x0000000000CB0C1F
1,35C77615-22AE-4A58-A5F0-07C761F9A787,094722B3-CAC3-4E11-B1C0-108E63E20F39,0,0,2024-05-07 11:05:00.000,0,135,76,97,63,59,0,0,0,NaN,0,0,5ED287A2-9EE1-4624-8AE6-8C9A8E09BF70,0,0x0000000000CB0C1A
2,35C77615-22AE-4A58-A5F0-07C761F9A787,D7E8F986-9FBB-4B4A-A271-10D998F5C0D5,0,0,2024-05-07 12:25:00.000,0,145,82,106,67,63,0,0,0,NaN,0,0,5ED287A2-9EE1-4624-8AE6-8C9A8E09BF70,0,0x0000000000CB0C1E
3,35C77615-22AE-4A58-A5F0-07C761F9A787,799E706D-C3C4-4F5F-898F-1438CE93FBCD,0,0,2024-05-07 21:25:00.000,0,156,84,104,80,72,0,0,0,NaN,0,0,5ED287A2-9EE1-4624-8AE6-8C9A8E09BF70,0,0x0000000000CB0C40
4,35C77615-22AE-4A58-A5F0-07C761F9A787,4346C340-40D4-484B-8459-16C6898B05CA,0,0,2024-05-07 14:25:00.000,0,145,86,103,71,59,0,0,0,NaN,0,0,5ED287A2-9EE1-4624-8AE6-8C9A8E09BF70,0,0x0000000000CB0C26

In [4]:
df_adttest.info()

,TestId,SysMax,SysMin,DiaMax,DiaMin,MapMax,MapMin,HrMax,HrMin,PpMax,PpMin,CvMax,CvMin
0,35C77615-22AE-4A58-A5F0-07C761F9A787,163,120,115,63,121,78,95,56,74,23,0,0
1,FC159EA9-0CE2-4E45-827A-09AB31E4EE41,138,107,98,64,113,79,100,64,62,23,0,0
2,96D8B734-7F8A-4D25-A717-0B2B3CF7BCF6,178,97,125,53,136,72,186,61,63,31,0,0
3,9E4B2AFD-ADEE-43FE-B6AE-0B8533D07ADB,188,128,105,64,135,82,107,69,98,46,0,0
4,7FE41DED-91C0-4EE5-9642-15981A275C49,137,86,91,40,112,57,110,67,62,26,0,0

Se realiza un modelado de los dataframes en relación a las variales que nos son reelevantes:

In [19]:
columnsSelect_df_test = df_test[['TestId', 'PatientId', 'HookupStartTime', 'HookupEndTime', 'SystolicMax', 
                                 'SystolicMin', 'DiastolicMax', 'DiastolicMin', 'MAPMax', 'MAPMin', 'PPMax', 'PPMin', 
                                 'HRMax', 'HRMin', 'Duration', 'PercentSuccessfullReading', 'SysDipping', 
                                 'DiaDipping', 'MapDipping', 'Age']]
columnsSelect_df_lista = df_lista[["PatientId","FirstName", "BirthDate", "GenderId"]]

In [20]:
df_SelectFinal = pd.merge(columnsSelect_df_test, columnsSelect_df_lista, on="PatientId")

In [21]:
df_SelectFinal.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1667 entries, 0 to 1666
Data columns (total 23 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   TestId                     1667 non-null   object
 1   PatientId                  1667 non-null   object
 2   HookupStartTime            1667 non-null   object
 3   HookupEndTime              1667 non-null   object
 4   SystolicMax                1667 non-null   int64
 5   SystolicMin                1667 non-null   int64
 6   DiastolicMax               1667 non-null   int64
 7   DiastolicMin               1667 non-null   int64
 8   MAPMax                     1667 non-null   int64
 9   MAPMin                     1667 non-null   int64
 10  PPMax                      1667 non-null   int64
 11  PPMin                      1667 non-null   int64
 12  HRMax                      1667 non-null   int64
 13  HRMin                      1667 non-null   int64
 14  Duration                   1667 non-null   object
 15  PercentSuccessfullReading  1667 non-null   object
 16  SysDipping                 1667 non-null   float64
 17  DiaDipping                 1667 non-null   float64
 18  MapDipping                 1667 non-null   float64
 19  Age                        1667 non-null   int64
 20  FirstName                  1667 non-null   object
 21  BirthDate                  1667 non-null   object
 22  GenderId                   1667 non-null   int64
dtypes: float64(3), int64(12), object(8)
memory usage: 312.6+ KB

In [22]:
df_SelectFinal.describe()

,SystolicMax,SystolicMin,DiastolicMax,DiastolicMin,MAPMax,MAPMin,PPMax,PPMin,HRMax,HRMin,SysDipping,DiaDipping,MapDipping,Age,GenderId
count,1667.0,1667.0,1667.0,1667.0,1667.0,1667.0,1667.0,1667.0,1667.0,1667.0,1667.000000,1667.000000,1667.000000,1667.000000,1667.000000
mean,240.0,70.0,150.0,40.0,200.0,40.0,150.0,20.0,200.0,20.0,8.614084,12.792447,10.725206,60.355729,1.599880
std,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,13.790187,13.740429,13.734242,16.710084,0.490069
min,240.0,70.0,150.0,40.0,200.0,40.0,150.0,20.0,200.0,20.0,-45.188100,-20.917740,-28.359090,9.000000,1.000000
25%,240.0,70.0,150.0,40.0,200.0,40.0,150.0,20.0,200.0,20.0,3.002070,6.628947,4.988272,49.000000,1.000000
50%,240.0,70.0,150.0,40.0,200.0,40.0,150.0,20.0,200.0,20.0,7.308064,11.628950,9.624468,62.000000,2.000000
75%,240.0,70.0,150.0,40.0,200.0,40.0,150.0,20.0,200.0,20.0,11.456455,16.300000,13.775490,72.500000,2.000000
max,240.0,70.0,150.0,40.0,200.0,40.0,150.0,20.0,200.0,20.0,100.000000,100.000000,100.000000,123.000000,2.000000

In [23]:
df_SelectFinal.head(20)

,TestId,PatientId,HookupStartTime,HookupEndTime,SystolicMax,SystolicMin,DiastolicMax,DiastolicMin,MAPMax,MAPMin,...,HRMin,Duration,PercentSuccessfullReading,SysDipping,DiaDipping,MapDipping,Age,FirstName,BirthDate,GenderId
0,83E62D41-079A-4CEF-808D-00283FC49150,A0D6DF20-52D5-4B3A-B74B-116F142D54AF,2023-06-12 10:33:00.000,2023-06-13 09:53:00.000,240,70,150,40,200,40,...,20,23:20,100%,1.650000,0.050000,0.050000,67,ZULEMA,1956-05-15 00:00:00.000,2
1,6063F63A-693F-4D42-A415-0033EF7D0133,45910F80-CC24-4C9A-9610-DBC19A593FBA,2017-06-14 10:43:00.000,2017-06-15 06:52:00.000,240,70,150,40,200,40,...,20,20:09,88%,17.311900,21.102630,19.216670,71,CRISTINA,1946-01-11 00:00:00.000,2
2,1B8028F6-0302-4A2E-90A5-0058A792BF35,B15844CB-88EE-4E16-AE51-D3C4BE82C9AE,2019-09-09 10:31:00.000,2019-09-10 10:10:00.000,240,70,150,40,200,40,...,20,23:39,98%,15.553880,28.050000,21.326600,78,ESPERANZA,1941-01-17 00:00:00.000,2
3,3A8ED937-52C0-4CB4-983E-006603B0F297,759BC417-A97D-4340-A745-2FA093999695,2019-04-09 10:22:00.000,2019-04-10 09:54:00.000,240,70,150,40,200,40,...,20,23:32,69%,100.000000,100.000000,100.000000,63,LILIA,1956-01-31 00:00:00.000,2
4,3C97CD99-843B-46C5-A482-00A39A179207,3EC79126-F1CD-4BCA-8B4D-0001B04B5DD7,2016-07-14 10:06:00.000,2016-07-15 09:45:00.000,240,70,150,40,200,40,...,20,23:39,95%,3.080303,5.113291,3.111224,63,MIRTHA,1952-09-12 00:00:00.000,2
5,C57C4658-1FC7-479F-917C-00CFA0CD42AE,CA8A2848-7E0A-47AD-AC54-6E798A432462,2022-08-08 10:37:00.000,2022-08-09 09:55:00.000,240,70,150,40,200,40,...,20,23:18,95%,4.435965,7.842208,6.716667,43,MARIA,1978-12-31 00:00:00.000,2
6,D4B7A458-75A0-4080-8AC1-00E29ECACE85,E3A9A18D-9C08-4302-A3F9-63BDA7F2C6D3,2016-06-27 11:18:00.000,2016-06-28 09:12:00.000,240,70,150,40,200,40,...,20,21:54,89%,17.607250,32.608140,27.234470,32,ANALIA,1983-09-26 00:00:00.000,2
7,E8C4B592-4867-40A1-BFAD-0135BD59B6E7,51DC08C5-BC08-4384-8A5C-CC9E63278B6C,2020-07-28 10:30:00.000,2020-07-29 10:06:00.000,240,70,150,40,200,40,...,20,23:36,88%,0.050000,2.519136,2.133333,69,ALBINO,1951-03-22 00:00:00.000,1
8,3A4C99B3-2B83-45D5-B4D5-013AC25D5235,E34970A2-93BE-4069-B6BB-B80BF89158C5,2016-07-18 09:23:00.000,2016-07-19 10:42:00.000,240,70,150,40,200,40,...,20,25:19,93%,9.679629,12.395680,10.050000,64,MARIA ROSA,1951-07-30 00:00:00.000,2
9,5892EB63-8775-4BE7-BCFC-01781E060F87,7B7BC8B5-0A1E-4723-B18C-93131463C737,2016-11-14 10:05:00.000,2016-11-15 08:56:00.000,240,70,150,40,200,40,...,20,22:51,89%,15.752480,20.597940,20.050000,57,DANIELA,1959-04-03 00:00:00.000,2
10,31E63F52-7F3C-40EE-A90C-018EF3E9C336,5418F018-655E-4A4C-BD88-63E3F28FEC6C,2018-10-03 10:56:00.000,2018-10-04 09:33:00.000,240,70,150,40,200,40,...,20,22:37,98%,0.618181,5.267391,1.509854,62,HECTOR,1956-01-20 00:00:00.000,1
11,E084684E-3F3D-4F6D-963A-01AD11248011,60332DBB-D1FC-4F7D-8795-5D654FD5EA9C,2020-06-16 10:36:00.000,2020-06-17 09:52:00.000,240,70,150,40,200,40,...,20,23:16,95%,-11.150000,-2.891176,-7.642308,72,YOLANDA,1947-07-31 00:00:00.000,2
12,0A5E0459-08D9-4322-B05E-01BBF160EB52,C8AADAB0-376E-4557-A4BD-5C690E86DF63,2017-06-15 10:21:00.000,2017-06-16 09:55:00.000,240,70,150,40,200,40,...,20,23:34,92%,11.855560,16.505700,13.911390,64,ANTONIO,1953-02-26 00:00:00.000,1
13,A1D7BC6D-3BB5-456B-B6F2-01C7C4B867EC,17AFFE6E-3BF8-44EA-9CDF-6CDDB7D894E3,2023-05-24 10:52:00.000,2023-05-25 09:50:00.000,240,70,150,40,200,40,...,20,22:58,100%,3.355785,10.576320,8.652150,72,DEMETRIA,1950-12-10 00:00:00.000,2
14,5CF414A7-0420-4DD3-A4B7-01DA784D53B6,F7AB3480-A029-4D66-98F2-CCD0AC4D4DB8,2022-08-18 11:01:00.000,2022-08-19 10:02:00.000,240,70,150,40,200,40,...,20,23:01,83%,3.411345,19.167650,12.840700,63,MERCEDES,1958-09-24 00:00:00.000,2
15,2DAE95DB-363E-4A50-9561-01E805753D75,A5262D2E-AFCA-4201-B42F-7AFF7B2148FD,2019-10-08 10:44:00.000,2019-10-09 08:38:00.000,240,70,150,40,200,40,...,20,21:54,94%,15.372580,20.829220,18.528260,54,JOSE,1964-10-28 00:00:00.000,2
16,9AE45B3A-DA17-4D24-AC54-01ED3A587FA9,20DE6770-AB2B-480D-B0CE-6B8C00A7FE79,2023-06-08 10:39:00.000,2023-06-09 09:58:00.000,240,70,150,40,200,40,...,20,23:19,100%,9.077778,11.274490,9.784513,45,BELINDA,1977-11-04 00:00:00.000,2
17,A4089C84-B6E2-4508-83BB-01F70BDF14DF,162A2DFF-3764-4783-ADA9-43CFA08C1B3A,2017-06-09 10:48:00.000,2017-06-10 09:58:00.000,240,70,150,40,200,40,...,20,23:10,98%,9.015517,16.903930,13.134110,55,MIGUEL,1961-10-09 00:00:00.000,1
18,71B5AD57-71D7-452D-9358-0214271BF1D3,45453206-E771-4E1A-90CB-0D44AF219AE5,2018-03-12 10:09:00.000,2018-03-13 09:28:00.000,240,70,150,40,200,40,...,20,23:19,94%,6.131081,8.745652,9.224312,51,JOSE,1967-01-30 00:00:00.000,1
19,38C8F0E7-0540-4A9A-98DB-021F72C26697,3055B51B-7565-489F-A403-39D333AB3E98,2023-01-19 10:25:00.000,2023-01-20 09:43:00.000,240,70,150,40,200,40,...,20,23:18,100%,4.397826,4.461765,4.811905,22,MARIA PAULA,2000-05-23 00:00:00.000,2

In [24]:
df_testrawdat.describe()

,ReadingRemoved,PermanentlyRemoved,ReadingCode,Systolic,Diastolic,MAP,HR,PP,CV,EventCode,EditStatus,DiaryEntry,DiaryEntryId,Annotate,mfd
count,2341.0,2341.0,2341.000000,2341.000000,2341.000000,2341.000000,2341.000000,2341.000000,2341.0,2341.000000,2341.000000,0.0,2341.0,2341.0,2341.0
mean,0.0,0.0,0.259291,109.954720,67.185818,81.554464,60.708672,42.768902,0.0,6.575822,0.344297,NaN,0.0,0.0,0.0
std,0.0,0.0,0.658154,53.213685,33.201523,39.732074,30.925077,22.191840,0.0,18.493309,0.755181,NaN,0.0,0.0,0.0
min,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,NaN,0.0,0.0,0.0
25%,0.0,0.0,0.000000,110.000000,64.000000,80.000000,54.000000,37.000000,0.0,0.000000,0.000000,NaN,0.0,0.0,0.0
50%,0.0,0.0,0.000000,126.000000,76.000000,93.000000,68.000000,48.000000,0.0,0.000000,0.000000,NaN,0.0,0.0,0.0
75%,0.0,0.0,0.000000,141.000000,88.000000,105.000000,80.000000,57.000000,0.0,0.000000,0.000000,NaN,0.0,0.0,0.0
max,0.0,0.0,2.000000,206.000000,134.000000,155.000000,186.000000,102.000000,0.0,90.000000,2.000000,NaN,0.0,0.0,0.0

In [26]:
df_adttest.head(20)

,TestId,SysMax,SysMin,DiaMax,DiaMin,MapMax,MapMin,HrMax,HrMin,PpMax,PpMin,CvMax,CvMin
0,35C77615-22AE-4A58-A5F0-07C761F9A787,163,120,115,63,121,78,95,56,74,23,0,0
1,FC159EA9-0CE2-4E45-827A-09AB31E4EE41,138,107,98,64,113,79,100,64,62,23,0,0
2,96D8B734-7F8A-4D25-A717-0B2B3CF7BCF6,178,97,125,53,136,72,186,61,63,31,0,0
3,9E4B2AFD-ADEE-43FE-B6AE-0B8533D07ADB,188,128,105,64,135,82,107,69,98,46,0,0
4,7FE41DED-91C0-4EE5-9642-15981A275C49,137,86,91,40,112,57,110,67,62,26,0,0
5,80B79D39-37FB-4E3B-A465-233E13FB4693,161,85,109,51,128,60,104,41,63,21,0,0
6,3F6328A9-BE6D-4E62-853A-296EED61BCAA,156,112,92,51,113,75,89,61,85,30,0,0
7,BD4EC35A-B470-4F00-AFDF-360CBED80C0F,153,96,109,65,127,76,95,55,58,23,0,0
8,F2C5D030-D300-4E48-95D3-3E1CBEEEB387,154,101,111,64,121,79,113,49,64,27,0,0
9,BE2B7604-8ACC-4398-9C1D-42D226BCE014,168,106,97,57,121,75,99,63,76,33,0,0
10,9591B438-9DC1-4DF8-9D20-49FEB52F3997,152,113,96,55,120,73,88,59,68,39,0,0
11,E0A478BE-9EAC-4FA7-B98E-4D9A08B879C7,156,114,115,66,123,83,102,67,58,33,0,0
12,7A131DF0-488D-4371-B7C8-5308B03B00D1,163,108,104,60,122,75,93,47,72,30,0,0
13,15883387-BAE4-4FF2-811E-53628AD29991,171,101,108,58,128,73,92,53,64,25,0,0
14,C7D036F5-A5A2-467A-8E5A-5469F36B3832,141,107,107,61,117,80,92,60,60,29,0,0
15,BE753297-6D7E-4186-9394-56E7E61A2502,185,94,88,52,129,72,59,41,102,29,0,0
16,540C22C5-D69A-4492-B4DA-5F9517461A5B,132,75,103,43,111,56,109,62,47,19,0,0
17,DA95B139-3341-4FE3-9AEE-6921AA1360B3,158,93,87,47,115,66,102,65,71,22,0,0
18,6734FFFF-F702-43AF-9F71-6EFC56456B3D,182,114,100,61,137,81,80,56,82,47,0,0
19,B7C55902-4303-42CC-BAA2-80582B3E5F71,187,116,101,64,132,80,76,52,98,41,0,0

Tarea, unir tabla test y tabla adttestraw a partir de sysmax y test id (especificar dif horarios)